PORT=5000
MONGO_URI=mongodb://localhost:27017/swasth-setu
# Future variables will go here (JWT_SECRET, GOOGLE_CLIENT_ID, AI_API_KEY, etc.)

GROQ_API_KEY=ygsk_yAwsfT8qPsAf7KvjtJuaWGdyb3FYZIGZyBkMZp30A0A3MkNPBj7x